* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    background: #FFFFFF url("img/background.jpg") repeat right top fixed;
}

body {
    justify-content: center;
}

.header {
    /* Texto do Header */
    position: absolute;
    background: #fffefe15;
    width: 750px;
    height: 107px;
    left: 30px;
    top: 30px;
    font-family: Concert One;
    font-style: normal;
    font-weight: normal;
    font-size: 78px;
    line-height: 78px;
    text-align: center;
    color: #ff0000b0;
}


/* Main */

.div1 {
    position: absolute;
    justify-content: center;
    height: 450px;
    left: 50px;
    top: 190px;
    background: rgba(255, 255, 255, 0.651);
    border: 2px solid #FFF2E7;
    box-sizing: border-box;
    border-radius: 20px;
}

.texto {
    position: static;
    background: #48363600;
    border-left: 10px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 300px;
    height: auto;
    left: 100px;
    top: 389px;
    font-family: Concert One;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 39px;
    text-align: center;
    color: #A90101;
}

form {
    display: inline-block;
    position: absolute;
    padding-top: 20px;
    width: 300px;
    height: 300px;
    top: 100px;
    font-family: Concert One;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
    color: #940000;
}

input {
    color: black;
    background: white;
    height: 25px;
}

#botao {
    padding-left: 10px;
    padding-right: 10px;
}

.resultado {
    position: absolute;
    justify-content: center;
    height: auto;
    left: 400px;
    top: 190px;
    background: rgba(255, 255, 255, 0.651);
    border: 2px solid #FFF2E7;
    box-sizing: border-box;
    border-radius: 20px;
}